<div>
  <form class="form-inline">
      <input type="hidden" id="score.Id" value="{{score.Id}}"/>
      <label for="Name">Name:</label> <label id="Name">{{score.Name}}</label><br>
      <label for="CourseName">Course Name:</label> <label id="CourseName">{{score.CourseName}}</label><br>

      <table class="table-responsive table-bordered">
	<thead>
	  <tr >
	    <th ng-repeat="hole in score.HoleScores" class="text-center">
	      &nbsp;{{hole.HoleNumber}}&nbsp;
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td ng-repeat="hole in score.HoleScores" class="text-center">
	      &nbsp;{{hole.Score}}&nbsp;
	    </td>
	  </tr>
	</tbody>
      </table>
  </form>
</div>

<div>
  <a href="#/index.html">Main</a>
</div>
<br/>
<div ng-show="errorMessage != ''" class="alert alert-danger">
  <span>{{errorMessage}}</span>
</div>

