<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
	<th>Course</th>
	<th span="2">Actions</th>
      </tr>
    </thead>
    <tbody ng-repeat="score in scores" >
      <tr>
	<td>{{score.Name}}</td>
	<td>{{score.CourseName}}</td>
	<td><a href="#/score/{{score.Id}}">View Scores</a></td>
	<td><a href="#/editscore/{{score.Id}}">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<p>
  <a href="#/newscore">New</a>
</p>

<br/>
<div ng-show="errorMessage != ''" class="alert alert-danger">
  <span>{{errorMessage}}</span>
</div>
