<div class="jumbotron">
  <h1>My Golf Scores</h1>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
	<th>Course</th>
	<th>Scores</th>
      </tr>
    </thead>
    <tbody ng-repeat="score in scores" >
      <tr>
	<td>{{score.Name}}</td>
	<td>{{score.CourseName}}</td>
	<td><a href="#/score/{{score.Id}}">Scores</a></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<p>
  <a href="score/new">New</a>
</p>
<br>
<div>
  Message: <font style={color: red}>{{errorMessage}}</font>
</div>
