<div>
  <form class="form-inline">
      <input type="hidden" id="score.Id" value="{{score.Id}}"/>
      <label for="Name">Name:</label> <label id="Name">{{score.Name}}</label><br>
      <label for="CourseName">Course Name:</label> <label id="CourseName">{{score.CourseName}}</label><br>

      <table class="table-responsive">
	<thead>
	  <tr >
	    <th ng-repeat="hole in score.HoleScores" class="text-center">
	      {{hole.HoleNumber}}
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td ng-repeat="hole in score.HoleScores" class="text-center">
	      <input enabled="false" type="text" id="hole.HoleNumber" value="{{hole.Score}}" size="2" style="{align: center;}"/>
	    </td>
	  </tr>
	</tbody>
      </table>
  </form>
</div>

<div>
  <a href="#/index.html">Main</a>&nbsp;<span>{{errorMessage}}</span>
</div>

